{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Blog | Cordial Exchange</title>
    <meta content="{{post.meta_title}}" name="title" />
    <meta content="{{post.meta_description}}" name="description" />
    <meta content="{{post.keywords}}" name="keywords" />

    <!-- Favicons -->
    {% comment %} <link href="/static/img/favicon.png" rel="icon" />
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon" /> {% endcomment %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/fav.png' %}"/>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css"
      integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E="
      crossorigin="anonymous"
    />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/icofont/icofont.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/animate.css/animate.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/nivo-slider/css/nivo-slider.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <script src="https://cdn.tiny.cloud/1/asaiq8ufshaej6j2hkt9mw8h1h9s4i6q5lfrt34odv2ijhkk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  </head>

  <body data-spy="scroll" data-target="#navbar-example">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex">
        <div class="logo mr-auto">
         <!-- <h1 class="text-light">
            <a href="index.html"><span>e</span>Business</a>
          </h1> -->
          <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Welcome to Giftcard | Cordial Exchange" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="https://giftcard.cordialexchange.com">Giftcard</a></li>
            <li><a href="https://www.cordialexchange.com/login">Get Started</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'post_new' %}">Create Post</a></li>
            {% endif %}
            {% comment %} {% if user.is_authenticated %}
              <li><a href="{% url 'post_new' %}">Create Post</a></li>
            {% endif %} {% endcomment %}
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Blog Header ======= -->
      <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content text-center">
                <div class="header-bottom">
                  <div
                    class="layer2 wow zoomIn"
                    data-wow-duration="1s"
                    data-wow-delay=".4s"
                  >
                    <h1 class="title2">Welcome To Our Blog</h1>
                  </div>
                  <div
                    class="layer3 wow zoomInUp"
                    data-wow-duration="2s"
                    data-wow-delay="1s"
                  >
                    <h2 class="title3">All About Bitcoin, Giftcard, Cryptocurrency and Lots More...</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Header -->

      {% block content %}

      {% endblock content %}


      


      <!-- ======= Footer ======= -->
   <footer>    
          <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>Cordial Exchange</h2>
                </div>

                <p>Cordial Exchange is a Nigerian company duly registered with the Corporate Affairs Commission.
                We are the long awaited solution to making your transition and journey into the usage of digital
                assets comfortable. Our services include: Buying and selling of Bitcoin, Purchase of Giftcards,
                Refill and Dollar exchange from Perfect Money and Payoneer wallets.
                We provide zero stress, zero complexities and zero delay as we help you navigate to the future of finance.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://twitter.com/Cordialexchang1?s=09"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/cordialexchange/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          


          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Contact Us</h4>
                
                <div class="footer-contacts">
                  <p><span>Tel:</span> +234 903 639 3128</p>
                  <p><span>Email:</span> admin@cordialexchange.io</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                  <p><span>Location :</span>18A, Road 3 Ikota Villa Estate Lekki - Epe Expy, 101245, Lagos Nigeria.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="/static/img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="/static/img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="/static/img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="/static/img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="/static/img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="/static/img/portfolio/6.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


         <div class="footer-area-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="copyright text-center">
                        <p>
                           &copy; Copyright 2020 <strong><a href="https://www.cordialexchange.com">Cordial Exchange</a></strong>. All Rights Reserved!
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

        


   </footer><!-- End  Footer -->

   <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
   <div id="preloader"></div>

   <!-- Vendor JS Files -->
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
   <script src="{% static 'vendor/appear/jquery.appear.js' %}"></script>
   <script src="{% static 'vendor/knob/jquery.knob.js' %}"></script>
   <script src="{% static 'vendor/parallax/parallax.js' %}"></script>
   <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
   <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'vendor/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
   <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
   <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

   <!-- Template Main JS File -->
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>