{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Post</title>

    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"/>
    <!-- Main CSS-->
    <link href="{% static 'css/form.css' %}" rel="stylesheet" media="all">
</head>
<body>
    <div class="main"> 
        <!-- Create a Form -->
        <div class="delete">
        <form method="POST"> 
            <!-- Security token by Django -->
            {% csrf_token %} 
            <h2>Do You Really Want To Delete This Post?</h2>
            <input class="btn btn-danger btn-sm" type="submit" value="Yes" />
            <a class="btn btn-success btn-sm" href="{% url 'home' %}">Cancel </a> 
        </form> 
    </div>
    </div> 
    
</body>
</html>






