

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="page-head-blog">
                <div class="single-blog-page">
                  <!-- search option start -->
                   {% comment %} <form name="SearchForm" method="GET" action="{% url 'search' %}">
                    <div class="search-option">
                      <input type="text" name=SearchForm placeholder="Search..." />
                      <button class="button" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </form>  {% endcomment %}
                  <!-- search option end -->
                </div>
                <div class="single-blog-page">
                  <!-- recent start -->
                  <div class="left-blog">
                    <h4>Featured Posts</h4>
                    <div class="recent-post">
                      <!-- start single post -->
                      {% for featured in featured_post %}
                      
                      <div class="recent-single-post">
                      
                        <div class="post-img">
                          <a href="{{ featured.get_absolute_url }}">
                          {% if featured.thumbnail %}
                            <img src="{{featured.thumbnail.url}}" alt="{{featured.title}}" />
                          {% endif %}
                          </a>
                        </div>
                        <div id="colored" class="pst-content">
                          <p>
                            <a href="{{ featured.get_absolute_url }}">
                              {{featured.summary|truncatewords:10|safe}}</a>
                          </p>
                        </div>
                      </div>
                      
                      {% endfor %}
                      <!-- End single post -->
                    </div>
                  </div>
                  <!-- recent end -->
                </div>

                <div class="single-blog-page">
                  <div class="left-blog">
                    <h4>latest posts</h4>
                    <ul>
                      {% for post in latest_posts %}
                      
                        <li>
                          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                      
                      {% endfor %}
                      </ul>
                  </div>
                </div> 

                <div class="single-blog-page">
                  <div class="left-blog">
                    <h4>categories</h4>
                    <ul>
                    {% for cat in category  %}
                      <li>
                        <a href="/category/{{cat.slug}}">{{cat}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                
                
                
                <div class="single-blog-page">
                  <div class="left-tags blog-tags">
                  {% if featured_tags %}
                    <div class="popular-tag left-side-tags left-blog">
                      <h4>featured tags</h4>
                      <ul>
                      {% for f_tags in featured_tags %}
                        <li>
                          <a href="/tags/{{f_tags}}" class="tags">{{ f_tags }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="left-blog">
                      <h4>Similar Posts</h4>
                      <ul>
                      {% for post in similar_posts %}
                        <li>
                          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% empty %} <p><em>There are no similar posts yet.</em></p> {% endfor %}</div>
                        </ul>
                {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- End left sidebar -->

          
            
                